In [51]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

import numpy as np
import pandas as pd

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [123]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.maximize_window()

url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=23%2F06%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1391813285025'
driver.get(url)

In [3]:
airline=[]
code=[]
dep_time=[]
title= driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/span')
for i in title:
    airline.append(i.text)

title= driver.find_elements_by_xpath('//div[@class="fs-13 airline-name no-pad col-8"]/p')
for i in title:
    code.append(i.text)
    
title= driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for i in title:
    dep_time.append(i.text)

In [4]:
len(airline) , len(code) , len(dep_time)

(25, 25, 25)

In [124]:
temp= driver.find_elements_by_xpath('//div[class="i-b tipsy fare-summary-tooltip fs-18"]')
temp

[]

# Clear Trip

In [183]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.maximize_window()

url='https://www.cleartrip.com/flights'
driver.get(url)

In [178]:
airline=[]
code=[]
dep_time=[]
arrival=[]
price=[]
duration=[]
stops=[]
title= driver.find_elements_by_xpath('//p[@class="fw-500 fs-2 c-neutral-900"]')
for i in title:
    airline.append(i.text)

title= driver.find_elements_by_xpath('//p[@class="fs-1 c-neutral-400 pt-1"]')
for i in title:
    code.append(i.text)
    
title= driver.find_elements_by_xpath('//p[@class="m-0 fs-5 fw-400 c-neutral-900"]')
for i in title:
    dep_time.append(i.text)
    
title= driver.find_elements_by_xpath('//p[@class="m-0 fs-5 fw-400 c-neutral-900 ta-center p-relative"]')
for i in title:
    arrival.append(i.text)
    
    
title= driver.find_elements_by_xpath('//p[@class="m-0 fs-5 fw-700 c-neutral-900 false"]')
for i in title:
    price.append(i.text)
    
title= driver.find_elements_by_xpath('//p[@class="m-0 fs-2 fw-400 c-neutral-400 ta-center lh-copy"]')
for i in title:
    duration.append(i.text)
title= driver.find_elements_by_xpath('//p[@class="m-0 fs-2 c-neutral-400 lh-copy"]')
for i in title:
    stops.append(i.text)

In [179]:
len(airline) , len(code) , len(dep_time) , len(arrival) , len(price) , len(duration) , len(stops)

(161, 161, 161, 161, 161, 161, 161)

In [180]:
b8=pd.DataFrame({'From':'Delhi','To':'Bangalore','Booking_date':pd.to_datetime('2022-06-23'),'Journey_date':pd.to_datetime('2022-06-30'),'Airline':airline,'Code':code,'Departure':dep_time,'Arrival':arrival,'Duration':duration,'Stops':stops,'Price':price})

(135, 11)

In [107]:
t1.shape , b1.shape #23 ,

((42, 11), (14, 11))

In [131]:
t2.shape , b2.shape #24

((135, 11), (135, 11))

In [135]:
t3.shape  , b3.shape# 25

((127, 11), (160, 11))

In [139]:
t4.shape, b4.shape #26

((109, 11), (139, 11))

In [143]:
t5.shape  ,b5.shape  #27

((135, 11), (144, 11))

In [147]:
t6.shape , b6.shape  #28

((122, 11), (155, 11))

In [177]:
t7.shape , b7.shape# 29

((133, 11), (166, 11))

In [181]:
t8.shape , b8.shape #30

((136, 11), (161, 11))

In [120]:
pd.concat([t1, t2,t3,t4,t5,t6,t7,t8], ignore_index = True).to_csv('t.csv')

In [182]:
pd.concat([b1,b2,b3,b4,b5,b6,b7,b8], ignore_index = True).to_csv('b.csv')

In [241]:
t1.head(2)

,From,To,Booking_date,Journey_date,Airline,Code,Departure,Arrival,Duration,Stops,Price
0,Delhi,Mumbai,2022-06-23,2022-06-23,Air India,AI-805,20:00,22:10,2h 10m,non-stop,"₹7,845"
1,Delhi,Mumbai,2022-06-23,2022-06-23,GO FIRST,G8-346,19:35,21:45,2h 10m,non-stop,"₹8,579"

In [242]:
b1.head(2)

,From,To,Booking_date,Journey_date,Airline,Code,Departure,Arrival,Duration,Stops,Price
0,Delhi,Bangalore,2022-06-23,2022-06-23,Air India,AI-504,21:15,00:05\n+1D,2h 50m,non-stop,"₹9,420"
1,Delhi,Bangalore,2022-06-23,2022-06-23,IndiGo,6E-2131,21:30,00:15\n+1D,2h 45m,non-stop,"₹9,419"

# EasemyTrip

In [184]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.maximize_window()

url='https://www.easemytrip.com/'
driver.get(url)

In [366]:
airline=[]
code=[]
dep_time=[]
arrival=[]
price=[]
duration=[]
stops=[]
title= driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
for i in title:
    airline.append(i.text)

title= driver.find_elements_by_xpath('//span[@class="txt-r5"]')
for i in title:
    code.append(i.text)
    
title= driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[1]')
for i in title:
    dep_time.append(i.text)
    
title= driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[1]')
for i in title:
    arrival.append(i.text)
    
    
title= driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
for i in title:
    price.append(i.text)
    
title= driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
for i in title:
    duration.append(i.text)
title= driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
for i in title:
    stops.append(i.text)

In [367]:
len(airline) , len(code) , len(dep_time) , len(arrival) , len(price) , len(duration) , len(stops)

(129, 129, 129, 129, 129, 129, 129)

In [368]:
K7=pd.DataFrame({'From':'Bangalore','To':'kolkata','Booking_date':pd.to_datetime('2022-06-24'),'Journey_date':pd.to_datetime('2022-06-30'),'Airline':airline,'Code':code,'Departure':dep_time,'Arrival':arrival,'Duration':duration,'Stops':stops,'Price':price})

In [357]:
g1.shape , G1.shape , B1.shape  , T1.shape  , k1.shape , K1.shape# 24

((32, 11), (27, 11), (18, 11), (28, 11), (9, 11), (24, 11))

In [358]:
g2.shape , G2.shape , B2.shape , T2.shape ,k2.shape   , K2.shape      # 25

((146, 11), (132, 11), (186, 11), (212, 11), (128, 11), (138, 11))

In [359]:
g3.shape  , G3.shape ,B3.shape , T3.shape, k3.shape, K3.shape  # 26

((156, 11), (155, 11), (190, 11), (215, 11), (134, 11), (140, 11))

In [360]:
g4.shape , G4.shape , B4.shape , T4.shape ,k4.shape , K4.shape   # 27

((135, 11), (114, 11), (162, 11), (205, 11), (116, 11), (129, 11))

In [361]:
g5.shape , G5.shape , B5.shape , T5.shape  , k5.shape ,K5.shape  # 28

((133, 11), (130, 11), (163, 11), (205, 11), (113, 11), (130, 11))

In [365]:
g6.shape , G6.shape , B6.shape , T6.shape ,k6.shape, K6.shape  # 29

((128, 11), (128, 11), (163, 11), (194, 11), (120, 11), (128, 11))

In [370]:
g7.shape , G7.shape ,B7.shape  , T7.shape  , k7.shape ,K7.shape   # 30

((115, 11), (128, 11), (167, 11), (209, 11), (121, 11), (129, 11))

In [372]:
pd.concat([b1,b2,b3,b4,b5,b6,b7,b8,t1, t2,t3,t4,t5,t6,t7,t8,g1,g2,g3,g4,g5,g6,g7,G1,G2,G3,G4,G5,G6,G7,B1,B2,B3,B4,B5,B6,B7,T1,T2,T3,T4,T5,T6,T7,k1,k2,k3,k4,k5,k6,k7,K1,K2,K3,K4,K5,K6,K7], ignore_index = True).to_csv('flight.csv')

In [373]:
pd.read_csv('flight.csv')

,Unnamed: 0,From,To,Booking_date,Journey_date,Airline,Code,Departure,Arrival,Duration,Stops,Price
0,0,Delhi,Bangalore,2022-06-23,2022-06-23,Air India,AI-504,21:15,00:05\n+1D,2h 50m,non-stop,"₹9,420"
1,1,Delhi,Bangalore,2022-06-23,2022-06-23,IndiGo,6E-2131,21:30,00:15\n+1D,2h 45m,non-stop,"₹9,419"
2,2,Delhi,Bangalore,2022-06-23,2022-06-23,IndiGo,6E-6565,22:55,01:45\n+1D,2h 50m,non-stop,"₹9,419"
3,3,Delhi,Bangalore,2022-06-23,2022-06-23,Air India,AI-605,21:15,07:50\n+1D,10h 35m,1 stop,"₹14,775"
4,4,Delhi,Bangalore,2022-06-23,2022-06-23,Air India,AI-605,21:15,18:20\n+1D,21h 5m,1 stop,"₹14,985"
...,...,...,...,...,...,...,...,...,...,...,...,...
7543,7543,Bangalore,kolkata,2022-06-24,2022-06-30,Vistara,UK-816,11:30,19:35,08h 05m,1-stop,"21,437"
7544,7544,Bangalore,kolkata,2022-06-24,2022-06-30,Vistara,UK-806,09:45,18:05,08h 20m,1-stop,"21,437"
7545,7545,Bangalore,kolkata,2022-06-24,2022-06-30,Vistara,UK-806,09:45,19:35,09h 50m,1-stop,"21,437"
7546,7546,Bangalore,kolkata,2022-06-24,2022-06-30,Vistara,UK-816,11:30,22:45,11h 15m,1-stop,"21,437"
7547,7547,Bangalore,kolkata,2022-06-24,2022-06-30,AirAsia,I5-1780,05:10,12:05,06h 55m,1-stop,"33,256"

In [375]:
g1.head

<bound method NDFrame.head of      From   To Booking_date Journey_date    Airline     Code Departure  \
0   Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-883     22:00
1   Delhi  Goa   2022-06-24   2022-06-24   GO FIRST  G8- 354     22:45
2   Delhi  Goa   2022-06-24   2022-06-24   GO FIRST  G8- 328     20:55
3   Delhi  Goa   2022-06-24   2022-06-24   GO FIRST  G8- 346     20:45
4   Delhi  Goa   2022-06-24   2022-06-24     Indigo  6E- 698     21:05
5   Delhi  Goa   2022-06-24   2022-06-24   SpiceJet  SG-8190     20:25
6   Delhi  Goa   2022-06-24   2022-06-24     Indigo  6E- 505     21:45
7   Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-605     21:15
8   Delhi  Goa   2022-06-24   2022-06-24     Indigo  6E-2519     23:35
9   Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-805     20:00
10  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-605     21:15
11  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-605     21:15
12  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-805     20:00
13  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-805     20:00
14  Delhi  Goa   2022-06-24   2022-06-24   GO FIRST  G8- 354     22:45
15  Delhi  Goa   2022-06-24   2022-06-24   SpiceJet  SG- 162     21:55
16  Delhi  Goa   2022-06-24   2022-06-24     Indigo  6E-2532     20:10
17  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-981     21:30
18  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-479     21:15
19  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-479     21:15
20  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-953     20:40
21  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-929     21:20
22  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-929     21:20
23  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-807     20:40
24  Delhi  Goa   2022-06-24   2022-06-24    AirAsia   I5-773     20:00
25  Delhi  Goa   2022-06-24   2022-06-24  Air India   AI-762     20:15
26  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-981     21:30
27  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-981     21:30
28  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-953     20:40
29  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-953     20:40
30  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-981     21:30
31  Delhi  Goa   2022-06-24   2022-06-24    Vistara   UK-953     20:40

   Arrival Duration     Stops   Price
0    00:40  02h 40m  non-stop
1    06:10  07h 25m    1-stop   9,419
2    06:10  09h 15m    1-stop   9,419
3    06:10  09h 25m    1-stop   9,419
4    02:50  05h 45m    1-stop   9,734
5    00:25  04h 00m    1-stop
6    00:20  02h 35m  non-stop  10,522
7    06:20  09h 05m    1-stop
8    06:15  06h 40m    1-stop  14,092
9    06:20  10h 20m    1-stop
10   14:35  17h 20m    1-stop
11   22:20  25h 05m    1-stop
12   14:35  18h 35m    1-stop
13   22:20  26h 20m    1-stop
14   12:45  14h 00m    1-stop  15,205
15   20:35  22h 40m    1-stop
16   01:55  05h 45m    1-stop  15,824
17   12:45  15h 15m    1-stop  16,140
18   14:35  17h 20m   2+-stop
19   22:20  25h 05m   2+-stop
20   12:45  16h 05m    1-stop  17,610
21   12:45  15h 25m   2+-stop  17,747
22   12:45  15h 25m   2+-stop  17,747
23   14:05  17h 25m    1-stop  18,975
24   22:35  02h 35m  non-stop  20,339
25   14:35  18h 20m   2+-stop
26   14:05  16h 35m    1-stop  23,908
27   14:05  16h 35m    1-stop  24,225
28   14:05  17h 25m    1-stop  25,378
29   14:05  17h 25m    1-stop  25,695
30   14:05  16h 35m    1-stop  26,220
31   14:05  17h 25m    1-stop  27,690  >